{% extends 'base.html.twig' %}

{% block title %}Interventi Urbani - {{ parent() }}{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'street'}) }}
{% endblock %}

{% block content %}
<div class="container exhibit-container">
    <h1>Interventi Urbani</h1>

    {{ include('generalindex.html.twig', {'type': 'street'}) }}

{% endblock %}

