{% extends 'base.html.twig' %}

{% block title %}Eventi Collaterali - {{ parent() }}{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'event'}) }}
{% endblock %}

{% block content %}
<div class="container exhibit-container">
    <h1>Eventi Collaterali</h1>

    {{ include('generalindex.html.twig', {'type': 'event'}) }}

{% endblock %}

