{% extends 'base.html.twig' %}

{% block title %}Incontri - {{ parent() }}{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'meeting'}) }}
{% endblock %}

{% block content %}
<div class="container exhibit-container">
    <h1>Incontri</h1>

    {{ include('generalindex.html.twig', {'type': 'meeting'}) }}

{% endblock %}

