.main-container{
    padding:0 !important;
}

.navbar-inverse{
    background-color:#000 !important;
}

.nav > li{
    text-transform:uppercase !important;
    font-size:13px;
    font-weight:bold;
    border-right:1px solid #444;
}

.deadlines{
    background-color:#222;
    padding:10px;
    color:#fff;
}

.carousel-container{
    margin-top:90px;
}

.carousel-inner img{
    max-height:750px;
}

.news-container{
    border-top:solid 10px #000;
    margin-top:40px;
    padding:0;
}

.news-container h1, .news-title h2{
    font-weight:1000;
    color:#000;
}

.news-img{
    max-height:300px;
    overflow:hidden;
}
