@font-face{
    font-family: "Simoncini Garamond";
    src: url('../fonts/Sig_____.ttf'),
    url('../fonts/Sig_____.ttf'); /* IE */
}


.main-container{
    padding:0 !important;
}

.navbar-fixed-top{
    max-height:400px !important;
}

.navbar-inverse{
    background-color:#000 !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color:#000 !important;
}

.nav > li{
    text-transform:uppercase !important;
    font-size:13px;
    font-weight:bold;
    border-right:1px solid #444;
}

.navbar-header img{
    max-height:30px;
}

.deadlines{
    background-color:#222;
    padding:10px;
    color:#fff;
}

.carousel-container{
    margin-top:90px;
}

.carousel-inner img{
}

.news-container{
    border-top:solid 10px #000;
    margin-top:40px;
    padding:0;
}

.news-container h1, .exhibit-container h1, .news-title h2, .exhibit-title h2{
    font-family:'Simoncini Garamond';
    font-weight:600;
    color:#000;
}

.news-img{
    max-height:300px;
    overflow:hidden;
}

.exhibit-container{
    border-top:solid 10px #000;
    margin-top:120px;
    padding:0;
}

.news-title a, .exhibit-title a{
    color:#000;
}

.news-title, .exhibit-title{
    text-align:center;
}

.exhibit-image img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.exhibit-desc{
    margin-top:20px;
}
