{% extends 'base.html.twig' %}

{% block title %}Workshop - {{ parent() }}{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'workshop'}) }}
{% endblock %}

{% block content %}
<div class="container exhibit-container">
    <h1>Workshop</h1>

    {{ include('generalindex.html.twig', {'type': 'workshop'}) }}

{% endblock %}

