{% extends 'base.html.twig' %}

{% block title %}Mostre - {{ parent() }}{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'exhibit'}) }}
{% endblock %}

{% block content %}
<div class="container exhibit-container">
    <h1>Mostre</h1>

    {{ include('generalindex.html.twig', {'type': 'exhibit'}) }}

{% endblock %}
