<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Beu Beu Art Festival{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        {% block stylesheets %}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container-fluid main-container">
            {% block menu %}
            {{ include('menu.html.twig', {'active': ''}) }}
            {% endblock %}

            {% block content %}{% endblock %}
        </div>
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
