<div class="container exhibit-container">
    <div class="exhibit-title"><h1>{{ obj.title }}</h1></div>
    <div class="exhibit-image"><img src="{{ asset('uploads/images/' ~ type ~ '/' ~ obj.image) }}" class="img-responsive" /></div>
    <div class="exhibit-desc">
        {{ obj.description|raw }}
    </div>

</div>

