{% extends 'base.html.twig' %}

{% block title %}Concerti e Performance - {{ parent() }}{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'performance'}) }}
{% endblock %}

{% block content %}
<div class="container exhibit-container">
    <h1>Concerti e Performance</h1>

    {{ include('generalindex.html.twig', {'type': 'performance'}) }}

{% endblock %}

